<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="SearchPageAmazon">
        <parameter name="appURL" value="www.amazon.com"></parameter>
        <classes>
            <class name="page.HomePageAmazon"></class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="SearchPageEbay">
        <parameter name="appURL" value="www.ebay.com"></parameter>
        <classes>
            <class name="page.HomePageEbay"></class>
        </classes>
    </test>
</suite>